# langchain==0.3.25
# langchain-core==0.3.59
# langchain-community==0.3.24
# langchain-text-splitters==0.3.8

# langgraph==0.4.3

# langchain-google-genai==2.1.4

# langchain-tavily==0.1.6
# tavily-python==0.7.2

# beautifulsoup4==4.13.4
# lxml==5.4.0
# html5lib==1.1
# requests==2.32.3

# python-dotenv==1.1.0

# pydantic==2.11.4

# faiss-cpu==1.11.0
# chromadb==1.0.8

# tiktoken==0.9.0

# streamlit==1.45.1

# pypdf==5.5.0

# aiohttp==3.11.18
# httpx==0.28.1

# duckduckgo-search==8.0.2

# transformers==4.51.3
# huggingface-hub==0.31.1

# sentence-transformers==4.1.0

# rich==14.0.0
langchain
langchain-core
langchain-community
langchain-text-splitters

langgraph

langchain-google-genai

langchain-tavily
tavily-python

beautifulsoup4
lxml
html5lib
requests

python-dotenv

pydantic

faiss-cpu
chromadb

tiktoken

streamlit

pypdf

aiohttp
httpx

duckduckgo-search

transformers
huggingface-hub

sentence-transformers

rich