langchain
langchain-core
langchain-community
langchain-text-splitters

langgraph

langchain-google-genai
langchain-mistralai
langchain-groq

langchain-tavily
tavily-python

beautifulsoup4
lxml
html5lib
requests

python-dotenv

pydantic

faiss-cpu
chromadb

tiktoken

streamlit

pypdf

aiohttp
httpx

duckduckgo-search

transformers
huggingface-hub

sentence-transformers

rich